*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(142deg,#9861c2,#5cc0de);
    font-family: sans-serif,"Merriweather";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.container{
    background-color: rgba(255, 255,255, 0.3);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    max-width: 1000px;
    border: 3px solid rgb(58, 122, 175);

}
.input-container{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 40px 0;
}
.code{
    caret-color: transparent;
     border-radius:5px;
     font-size: 40px;
     height: 80px;
     width: 75px;
     border: 1px solid #eee;
     text-align: center;
     font-weight: 300;
     margin: 10px;
     background-color: rgba(255,255,255,0.6);
}
.code::-webkit-inner-spin-button, .code::-webkit-outer-spin-button{
    display: none;
    margin: 0;
}
.code:valid{
    border-color: #3090b0;
    box-shadow: 0 10px 10px -5px #00000040;
}
.code:focus {
    outline-width: 5px ;
    outline: 4px solid #5f84caa9 !important;

}
.info{
    background-color: rgb(238 238 238 / 67%);
    color: rgb(119 119 119);
    display: inline-block;
    padding: 10px;
    max-width: 500px;
    border-radius: 5px;
    font-size: 16px;
}
.btn{
    font-family: "Lato",sans-serif;
    min-width: 367px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    margin: 0 0 20px 0;
    padding: 0.770rem 0;
    font-size: 1rem;
    line-height: 1;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.7;
    color: #fff;
    background-color:#9e59c9a8;
    border-color: #9861c2;
}
.code::placeholder{
    color: #777777b0;
}
@media only screen and (max-width: 700px) {
    .container{
        width:400px;
    }
    .code {
        height: 55px;
        width: 40px;
        font-size: 35px;
    }
}




